<% @articles.each do |article| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to article.title, article %>
      </h4>
    </div>
  </div>
<% end %>
